@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#hero {
  background-color: #f4f4f4;
  text-align: center;
  padding: 2rem 0;
}

#hero h1 {
  font-size: 2.5rem;
}

#hero p {
  font-size: 1.2rem;
}

section {
  padding: 2rem;
  text-align: center;
}

section#about {
  background-color: #e2e2e2;
}

section#projects {
  background-color: #f4f4f4;
}

section#contact {
  background-color: #e2e2e2;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}